SECRET=__API_SECRET__

JWT_EXPIRE_TIME_MINUTES=43200

ROOT_EMAIL=root@intalnet.com
ROOT_PASSWORD=__API_ROOT_PASSWORD__

PORT=3300

# Morgan formats: combined, common, dev, short, tiny. Default: tiny
LOG_FORMAT=tiny